# Local .terraform directories
*terraform_files/.terraform/

# Terraform lockfile
*terraform_files/.terraform.lock.hcl

# .tfstate files
*terraform_files/*.tfstate
*terraform_files/*.tfstate.*

# Crash log files
#crash.log

# .tvars files
*terraform_files/*.tfvars

# .gitignore files for inside of terraform_files
terraform_files/*.gitignore